DISCORD_CLIENT_ID=coloque_o_client_id_aqui
DISCORD_CLIENT_SECRET=coloque_o_client_secret_aqui
DISCORD_REDIRECT_URI=http://127.0.0.1:8080/auth/discord/callback
DISCORD_SCOPES=identify guilds guilds.members.read
DISCORD_GUILD_ID=1500607972605296713
FIVEM_GUILD_ID=1153823875004637204
DISCORD_BOT_TOKEN=coloque_o_token_do_bot_aqui
